@font-face {
  font-family: 'iconfont';  /* project id 2054804 */
  src: url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.eot');
  src: url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2054804_5v55tk3nn6g.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-shiliangzhinengduixiang-:before {
  content: "\e6ad";
}

.icon-gouwuche:before {
  content: "\e628";
}

.icon-fanhui:before {
  content: "\e629";
}

.icon-dianpu:before {
  content: "\e655";
}

.icon-shoucang:before {
  content: "\e647";
}

.icon-kefu:before {
  content: "\e618";
}

.icon-guanyuwomen:before {
  content: "\e61f";
}

.icon-yijianfankui:before {
  content: "\e616";
}

.icon-lianxikefu:before {
  content: "\e646";
}

.icon-dizhiguanli:before {
  content: "\e611";
}

.icon-wodedingdan:before {
  content: "\e620";
}

.icon-daifukuan:before {
  content: "\e68f";
}

.icon-tuikuan:before {
  content: "\e66b";
}

.icon-daishouhuo-01:before {
  content: "\e610";
}

